<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.dao.SkuDetailMapper">
  <resultMap id="BaseResultMap" type="com.goal.po.SkuDetail">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="t_cmd_sku_id" jdbcType="VARCHAR" property="tCmdSkuId" />
    <result column="param_key" jdbcType="VARCHAR" property="paramKey" />
    <result column="param_value" jdbcType="VARCHAR" property="paramValue" />
    <result column="param_desc" jdbcType="VARCHAR" property="paramDesc" />
    <result column="change_tsp" jdbcType="TIMESTAMP" property="changeTsp" />
    <result column="create_tsp" jdbcType="TIMESTAMP" property="createTsp" />
  </resultMap>
  <insert id="insert" parameterType="com.goal.po.SkuDetail">
    insert into t_cmd_sku_detail (id, t_cmd_sku_id, param_key, 
      param_value, param_desc, change_tsp, 
      create_tsp)
    values (#{id,jdbcType=VARCHAR}, #{tCmdSkuId,jdbcType=VARCHAR}, #{paramKey,jdbcType=VARCHAR}, 
      #{paramValue,jdbcType=VARCHAR}, #{paramDesc,jdbcType=VARCHAR}, #{changeTsp,jdbcType=TIMESTAMP}, 
      #{createTsp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.SkuDetail">
    insert into t_cmd_sku_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tCmdSkuId != null">
        t_cmd_sku_id,
      </if>
      <if test="paramKey != null">
        param_key,
      </if>
      <if test="paramValue != null">
        param_value,
      </if>
      <if test="paramDesc != null">
        param_desc,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tCmdSkuId != null">
        #{tCmdSkuId,jdbcType=VARCHAR},
      </if>
      <if test="paramKey != null">
        #{paramKey,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null">
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramDesc != null">
        #{paramDesc,jdbcType=VARCHAR},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>