<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goal.dao.WxPayRecieveMapper">
  <resultMap id="BaseResultMap" type="com.goal.po.WxPayRecieve">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="device_info" jdbcType="VARCHAR" property="deviceInfo" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="prepay_id" jdbcType="VARCHAR" property="prepayId" />
    <result column="code_url" jdbcType="VARCHAR" property="codeUrl" />
    <result column="change_tsp" jdbcType="TIMESTAMP" property="changeTsp" />
    <result column="create_tsp" jdbcType="TIMESTAMP" property="createTsp" />
  </resultMap>
  <insert id="insert" parameterType="com.goal.po.WxPayRecieve">
    insert into t_wx_pay_recieve (id, order_id, return_code, 
      return_msg, appid, mch_id, 
      device_info, nonce_str, sign, 
      result_code, err_code, err_code_des, 
      trade_type, prepay_id, code_url, 
      change_tsp, create_tsp)
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{returnCode,jdbcType=VARCHAR}, 
      #{returnMsg,jdbcType=VARCHAR}, #{appid,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, 
      #{deviceInfo,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, 
      #{resultCode,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, #{errCodeDes,jdbcType=VARCHAR}, 
      #{tradeType,jdbcType=VARCHAR}, #{prepayId,jdbcType=VARCHAR}, #{codeUrl,jdbcType=VARCHAR}, 
      #{changeTsp,jdbcType=TIMESTAMP}, #{createTsp,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.goal.po.WxPayRecieve">
    insert into t_wx_pay_recieve
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="returnCode != null">
        return_code,
      </if>
      <if test="returnMsg != null">
        return_msg,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="deviceInfo != null">
        device_info,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="prepayId != null">
        prepay_id,
      </if>
      <if test="codeUrl != null">
        code_url,
      </if>
      <if test="changeTsp != null">
        change_tsp,
      </if>
      <if test="createTsp != null">
        create_tsp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="deviceInfo != null">
        #{deviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="prepayId != null">
        #{prepayId,jdbcType=VARCHAR},
      </if>
      <if test="codeUrl != null">
        #{codeUrl,jdbcType=VARCHAR},
      </if>
      <if test="changeTsp != null">
        #{changeTsp,jdbcType=TIMESTAMP},
      </if>
      <if test="createTsp != null">
        #{createTsp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>